# Core Python
numpy>=1.26.4,<2
pandas>=2.2.0
scipy>=1.12.0

# corpus handling
openpyxl>=3.1.2

# Transformers and tokenizers
transformers>=4.41.2
tokenizers>=0.19.1

# PyTorch
torch>=2.2.2
torch --index-url https://download.pytorch.org/whl/cu121

# Emotion extractor
pysentimiento>=0.7.3
emoji>=2.10.0
transformers>=4.36

# Style extractor
spacy>=3.7.0
textstat>=0.7.3
wordfreq>=3.0.3

# Utils
scipy>=1.10
tqdm>=4.65